<div class="grid_13">
  <table class="table" >
    <% @environments_info.each do |env| %>
    <tr>
      <td><%= env[:name] %>  [<a target="_blank" href="<%= env[:share] %>"><%= env[:share] %></a>]</td>
      <td>
      <ul class="list-group">
        <% env[:details].each do |details| %>
          <li class="list-group-item list-group-item-success"><%= details[:name] %>  [<a target="_blank" href="<%= details[:url] %>"><%= details[:url] %></a>]
            <table class="table">
              <% @properties_to_show.each do |property| %>
              <tr>
                <td><%= property %></td>
                <td>
                  <% if details[:response][:value].empty? %>
                    <img src="images/nok.png" height="20" width="20">
                  <%else%>
                    <% if details[:response][:value][property]["healthy"] %>
                      <img src="images/ok.png" height="20" width="20">
                    <%else%>
                      <img src="images/nok.png" height="20" width="20">
                    <%end%>
                  <%end%>
                </td>
                <td><%= details[:response][:value][property]["message"] if !details[:response][:value].empty? %></td>
              </tr>
              <% end %>
            </table>
          </li>
        <% end %>
      </ul>
    </td>
  <tr>
  <% end %>
  </table>
